---
# Source: palisade/templates/user-service.yaml

kind: Service
apiVersion: v1
metadata:
  labels:
    app: user-service
  name: user-service
spec:
  selector:
    app: user-service
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
---    
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: user-service
  name: user-service
spec:
  replicas: {{ .Values.userservice.replicas }}
  selector:
    matchLabels:
      app:  user-service
  template:
    metadata:
      labels:
        app:  user-service
    spec:
      containers:
        image: "{{ .Values.userservice.image.repository }}:{{ .Values.userservice.image.tag }}"
        imagePullPolicy: "{{ .Values.userservice.image.pullPolicy }}"
        name: user-service
        ports:
          - containerPort: 8080
        livenessProbe:
          httpGet: 
            path: /user/v1/status
            port: 8080
          failureThreshold: 5
          periodSeconds: 60
          timeoutSeconds: 10
        readinessProbe:
          httpGet:
            path: /user/v1/status
            port: 8080
          failureThreshold: 5
          periodSeconds: 60
          timeoutSeconds: 10
        resources:
          {{- toYaml .Values.userservice.resources | nindent 12 }}
      restartPolicy: Always

