steps:
  - task: DownloadBuildArtifacts@0
    displayName: 'Download Build Artifacts'
    inputs:
      artifactName: local-docker
      downloadPath: '$(System.DefaultWorkingDirectory)/example/deployment/'
      buildType: '$(parameters.buildType)'
      project: '$(System.TeamProjectId)'
      pipeline: '8'
      buildVersionToDownload: 'latest'

  - script: docker build -t $(dockerId).azurecr.io/${{ parameters.imageName }}:latest -t $(dockerId).azurecr.io/${{ parameters.imageName }}:$(Build.BuildId) $(System.DefaultWorkingDirectory)/example/deployment/local-docker/example-docker-services/${{ parameters.imageName }}
    displayName: 'Building ${{ parameters.imageName }} image'

  - script: az acr login $(dockerId).azurecr.io
    displayName: 'login to container register'

  - script: docker push '$(dockerId).azurecr.io/${{ parameters.imageName }}'
    displayName: 'Pushing ${{ parameters.imageName }} image'