<configuration>

    <property>
        <name>fs.s3a.endpoint</name>
        <value>s3.eu-west-1.amazonaws.com</value>
        <description>AWS S3 endpoint to connect to. An up-to-date list is
            provided in the AWS Documentation: regions and endpoints. Without this
            property, the standard region (s3.amazonaws.com) is assumed.
        </description>
    </property>

    <property>
        <name>fs.s3a.attempts.maximum</name>
        <value>5</value>
        <description>How many times we should retry commands on transient errors.</description>
    </property>

    <property>
        <name>fs.defaultFS</name>
        <value>s3a://${bucket_name}</value>
        <description>Set the scheme for the default Hadoop file system.</description>
    </property>
</configuration>
