version: "3"

services:

   data-service:
      build: data-service
      container_name: data-service
      ports:
         - 8084:8080
      volumes:
         - "../multi-jvm-example-runner/target/classes:/data"
   policy-service:
      build: policy-service
      container_name: policy-service
      ports:
         - 8081:8080
   resource-service:
      build: resource-service
      container_name: resource-service
      ports:
         - 8082:8080
      volumes:
         - "../multi-jvm-example-runner/target/classes:/data"
   user-service:
      build: user-service
      container_name: user-service
      ports:
         - 8083:8080
   palisade-service:
      build: palisade-service
      container_name: palisade-service
      ports:
         - 8080:8080
