version: "3"

services:

   etcd:
      container_name: etcd
      image: quay.io/coreos/etcd
      command:
        - /usr/local/bin/etcd
        - -name
        - etcd
        - --data-dir
        - /tmp/etcd_data
        - -advertise-client-urls
        - http://etcd:2379
        - -listen-client-urls
        - http://0.0.0.0:2379
        - -initial-advertise-peer-urls
        - http://etcd:2380
        - -listen-peer-urls
        - http://0.0.0.0:2380
        - -initial-cluster
        - etcd=http://etcd:2380
   config-service:
      build: config-service
      container_name: config-service
   configure-services:
      build: configure-services
   data-service:
      build: data-service
      container_name: data-service
      volumes:
         - "../../resources:/data"
   policy-service:
      build: policy-service
      container_name: policy-service
   resource-service:
      build: resource-service
      container_name: resource-service
      volumes:
         - "../../resources:/data"
   user-service:
      build: user-service
      container_name: user-service
   palisade-service:
      build: palisade-service
      container_name: palisade-service

